

h1 {
    font-family: "Times New Roman";
    text-align: center;
    
}

body {
    border-radius: solid 100px;
}

#pic { 
        position: absolute;
        width: 60px;
        left: 50%;
        top: 5%;
    }
    
#ground { 
        position: absolute;
        background-color: black;
        width: 98%;
        height: 20px;
        top: 95%;
    }    
    
    
#black {
    height: 10px;
    width: 50px;
    position: absolute;
    background-color: black;
    top:90%;
    left:50%;
    }

